// Colors
$white: #fff;
$blue: #3338A6;
$black: #111;
$disabled: #d9d9d9;

//fonts
$manrope: "Manrope";

// font-size
$f-18: 18px;
$f-20: 20px;
$f-24: 24px;
$f-36: 36px;
$f-72: 72px;

//font-weight
$normal: 400;
$bold: 600;
