<div class="main__navbar navbar">
  <div class="navbar__logo">
    <a href="/" class="navbar__logo-link">
      <img src="@/assets/img/moyo_1.png" alt="logo" />
    </a>
  </div>
  <div class="navbar__list">
    <li class="navbar__item">
      <a href="" class="navbar__link">
        apple
      </a>
    </li>
    <li class="navbar__item">
      <a href="" class="navbar__link">
        sumsung
      </a>
    </li>
    <li class="navbar__item">
      <a href="" class="navbar__link">
        Смартфоны и телефоны
      </a>
    </li>
    <li class="navbar__item">
      <a href="" class="navbar__link">
        Ноутбуки и компьютеры
      </a>
    </li>
    <li class="navbar__item">
      <a href="" class="navbar__link">
        гаджеты
      </a>
    </li>
    <li class="navbar__item">
      <a href="" class="navbar__link">
        планшеты
      </a>
    </li>
    <li class="navbar__item">
      <a href="" class="navbar__link">
        фото
      </a>
    </li>
    <li class="navbar__item">
      <a href="" class="navbar__link">
        видео
      </a>
    </li>
  </div>
</div>